<footer class="footer">
  <nav class="round"> 
    <ul id="footercss">
      <%= link_to "Home", staticpages_home_path %> :: 
      <%= link_to "About Us", staticpages_about_us_path %> :: 
      <%= link_to "Contact Us", staticpages_contact_us_path %></li> :: 
      <%= link_to "Privacy Policy", staticpages_privacy_policy_path %> :: 
      <%= link_to "The Smurfs", '#' %>
    </ul>
  </nav>
</footer>

