<header class="header">
 
  <nav class="round"> 
    <!-- <ul id="headercss">
      <%= link_to "Home", staticpages_home_path %> :: 
      <%= link_to "About Us", staticpages_about_us_path %> :: 
      <%= link_to "Contact Us", staticpages_contact_us_path %> :: 
      <%= link_to "Privacy Policy", staticpages_privacy_policy_path %> :: 
      <%= link_to "The Smurfs", '#' %>
    </ul>--> 
 


<div id="header">
				<div id="logo">
					<h1><a href="#">Dog Walker</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="first"><%= link_to "Home", staticpages_home_path %></li>
						<li> <%= link_to "Walkers", walkers_path %></li>
						<li> <%= link_to "Messages", messages_path %></li>
						<li> <%= link_to "About Us", staticpages_about_us_path %></li>
						<li> <%= link_to "Privacy Policy", staticpages_privacy_policy_path %></li>
						<li class="last"> <%= link_to "Contact Us", staticpages_contact_us_path %></li>
					</ul>
					<br class="clearfix" />
				</div>
			</div>
			<div id="splash">
				 <img src="http://im18.gulfup.com/d5sC1.jpg" width="930" height="230" alt="Dog Walker" /> 
			</div>

 </nav>

</header>

